.footerContainer {
    display: flex;
    position: absolute;
    height: 5em;
    width: 100%;
    padding-top: 1vh;
    background-color: $color5;
    box-shadow: -2px -2px .5px 1px $color1;
    bottom: 0; 

    .footerLinkContainer {
        flex: 1;
        flex-grow: 1;
    }
}