.gameContainer {
    .gameInformationContainer {
        background-color: rgba(0, 0, 0, 0.2);
        width: calc(50em - 1em);
        height: calc(30em - 1em);
        border-radius: .1em;
        margin: auto;
        margin-top: 5em;
        padding: 1em;
        .quizInformation {
            color: $color5;
            margin: 1em auto;
            width: 80%;
            height: 6.5em;
            border-radius: .1em;
            font-size: 1.5em;
            .quizName {
                text-align: center;
                font-size: 2em;
                margin: 0;
                line-height: 1em;
            }
            .quizQuestions {
                text-align: center;
                line-height: 1em;
            }
            .quizHost{
                text-align: center;
                line-height: 1em;
            }
        }
        .playersContainer {
            background-color: rgba(255, 252, 249, .1);
            color: $color5;
            margin: 1em auto;
            width: 80%;
            height: 10em;
            border-radius: .1em;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: column;
            .player {
                height: 2em;
                line-height: 2em;
                padding: 0 .2em;
                width: calc(25% - .4em);
            }
        }
        .buttonContainer {
            display: flex;
            width: 80%;
            margin: 1em auto;
            .quizButton {
                border-radius: .1em;
                border: none;
                flex-grow: 1;
                background-color: $color2;
                color: $color5;
                height: 2.5em;
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                line-height: 2.3em;
            }
            .startButton {
                margin-right: 1em;
                background-color: $color4;
                color: $color5;
            }
            .leaveButton {
                margin-left: 1em;
            }
            .quizButton:hover {
                cursor: pointer;
                text-decoration: none;
                box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.2);
            }
        }
    }
    .countdownContainer{
        
        .countdownTimer{
            width: 100;
            height: 100%;
            color: $color5;
            text-align: center;
            font-size: 25em;
            line-height: 100%;
            animation: changeFontSize .999999s ease-out 5;
        }

        @keyframes changeFontSize {
            0% {
              font-size: 10em;
            }
            100% {
                font-size: 25em;
            }
          }
    }
}