.quizMakerContainer {
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(50em - 1em);
    min-height: calc(30em - 1em);
    border-radius: .1em;
    margin: auto;
    margin-top: 5em;
    padding: 1em;
    h2 {
        color: $color3;
        text-align: center;
    }
    .quizMakerInputFieldContainer {
        width: 30%;
        margin: auto;
        text-align: center;
        label {
            color: $color5;
            text-align: left;
        }
        input {
            width: 100%;
            margin: 0;
            font-size: 1.2em;
        }
    }
    .createQuizButtonContainer {
        width: 100%;
        text-align: center;
        button {
            background-color: $color2;
            border: none;
            color: $color5;
            width: 20%;
            height: 2em;
            margin-top: 1em;
            text-emphasis: bold;
            
        }

        button:hover{
            cursor: pointer;
            text-decoration: none;
            box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.2);
        }
    }

    .addItemQuizButtonContainer {
        width: 100%;
        text-align: center;
        button {
            background-color: $color4;
            border: none;
            color: black;
            width: 20%;
            height: 2em;
            margin: 1em;
            text-emphasis: bold;
        }
        
        button:hover{
            cursor: pointer;
            text-decoration: none;
            box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.2);
        }
    }

    .selectAnswer{
        padding-top:.5em;
        border: none;
        border-radius: 0;
        margin: 0 auto;
        width: 30%;
        
    }
    text-align: center;

    label {
        margin-top: 1em;
        color: $color5;
    }
}